@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-rubikFont {
  font-family: "Rubik", "Inter", "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
  font-variation-settings: "wdth" 300;
}